<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unidigital.bicentenario.tbcomplus">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_bicentenario"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.AccountTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.AmountTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.BannerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_banner"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"/>
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.CardTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.CantvPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.PosClosureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.CreditCardPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.CustomerCardReadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.CustomerCIEntryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.CustomerEmailEntryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.CustomerPinEntryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.DepositActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.DirectvPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.DisplayMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.HostRequestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.LastQueryInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.MicrocreditPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.MovilnetPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.MovilnetRechargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.OriginAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.PaymentTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.ReverseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.ReverseInfoDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.ReverseSureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.SaleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.SaleAmountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.SarenPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.OperationClosureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.OperationReopenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.OperationTemporalClosureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.SignatureCaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.StanhomePaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.TransferOwnAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.TransferThirdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.TransferTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.UserCardReadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.UserPinEntryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unidigital.bicentenario.tbcomplus.WithdrawalActivity"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bdb9ff94ce4fd180584b35173c56fcd9adcefcd3" />
    </application>

</manifest>